<img src="https://i.imgur.com/6U6q5jQ.png"/>

In [1]:
import geopandas as gpd

mapGitLink='https://github.com/SocialAnalytics-StrategicIntelligence/GeoDFBasics_py/raw/main/maps/theMapAndData.gpkg'

theMapAndData=gpd.read_file(mapGitLink, layer='fragility')

In [2]:
theMapAndData.columns

Index(['COUNTRY', 'Year', 'Total', 'C1_SecurityApparatus',
       'C2_FactionalizedElites', 'C3_GroupGrievance', 'E1_Economy',
       'E2_EconomicInequality', 'E3_HumanFlightandBrainDrain',
       'P1_StateLegitimacy', 'P2_PublicServices', 'P3_HumanRights',
       'S1_DemographicPressures', 'S2_RefugeesandIDPs',
       'X1_ExternalIntervention', 'iso2', 'iso3', 'Total_mnmx', 'Total_ei5',
       'Total_fj5', 'Total_jc5', 'Total_ei5_cat', 'Total_fj5_cat',
       'Total_jc5_cat', 'geometry'],
      dtype='object')

In [110]:

IndexWide=['COUNTRY', 'iso3','geometry', 'Year']
VarsToWide=['Total_mnmx', 'Total_ei5']
colsForWide=IndexWide+VarsToWide
theMapAndData.loc[:,colsForWide].set_index(IndexWide).unstack(level='Year')

                                                                           Total_mnmx  \
Year                                                                             2013
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...   9.249218
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...   4.921794
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...   6.329510
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...   7.205422
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...   4.171011
...                                                                               ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...   5.974974
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...   5.745568
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...   9.280501
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...   7.153285
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...   9.092805

                                                                                      \
Year                                                                            2014
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...  9.320594
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...  4.766454
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...  6.380042
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...  7.292994
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...  4.278132
...                                                                              ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...  6.157113
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...  5.732484
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  9.203822
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...  7.165605
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...  8.927813

                                                                                      \
Year                                                                            2015
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...  9.318182
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...  4.566116
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...  6.394628
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...  7.252066
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...  4.142562
...                                                                              ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...  6.301653
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...  5.650826
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  9.349174
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...  6.962810
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...  8.502066

                                                                                      \
Year                                                                            2016
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...  9.359244
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...  4.453782
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...  6.250000
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...  7.531513
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...  3.928571
...                                                                              ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...  6.596639
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...  5.451681
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  9.737395
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...  7.090336
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...  8.581933

                                                                                      \
Year                                                                            2017
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...  9.306723
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...  4.390756
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...  6.102941
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...  7.605042
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...  3.792017
...                                                                              ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...  6.743697
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...  5.409664
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  9.705882
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...  7.258403
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...  8.707983

                                                                                      \
Year                                                                            2018
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...  9.294034
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...  4.416653
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...  6.062559
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...  7.493581
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...  3.948394
...                                                                              ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...  7.154735
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...  5.288177
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  9.928129
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...  7.261326
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...  8.840578

                                                                                       \
Year                                                                             2019
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...   9.120083
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...   4.347826
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...   6.055901
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...   7.339545
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...   3.881988
...                                                                               ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...   7.494824
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...   5.093168
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  10.000000
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...   7.122153
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...   8.550725

                                                                                       \
Year                                                                             2020
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...   9.024915
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...   4.511423
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...   6.128951
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...   7.431946
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...   3.827309
...                                                                               ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...   7.824286
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...   5.036061
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  10.000000
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...   7.140989
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...   8.648649

                                                                                       \
Year                                                                             2021
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...   8.994764
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...   4.481675
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...   6.010471
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...   7.623037
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...   4.052356
...                                                                               ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...   8.000000
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...   4.931937
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  10.000000
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...   7.193717
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...   8.680628

                                                                                       \
Year                                                                             2022
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...   9.399586
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...   4.306418
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...   5.910973
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...   7.556936
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...   4.047619
...                                                                               ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...   7.919255
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...   4.741201
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  10.000000
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...   7.091097
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...   8.561077

                                                                            ...  \
Year                                                                        ...
COUNTRY             iso3 geometry                                           ...
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...  ...
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...  ...
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...  ...
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...  ...
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...  ...
...                                                                         ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...  ...
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...  ...
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...  ...
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...  ...
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...  ...

                                                                           Total_ei5  \
Year                                                                            2014
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...         4
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...         2
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...         3
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...         3
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...         2
...                                                                              ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...         3
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...         2
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...         4
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...         3
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...         4

                                                                                 \
Year                                                                       2015
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...    4
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...    2
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...    3
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...    3
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...    2
...                                                                         ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...    3
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...    2
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...    4
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...    3
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...    4

                                                                                 \
Year                                                                       2016
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...    4
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...    2
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...    3
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...    3
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...    1
...                                                                         ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...    3
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...    2
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...    4
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...    3
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...    4

                                                                                 \
Year                                                                       2017
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...    4
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...    2
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...    3
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...    3
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...    1
...                                                                         ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...    3
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...    2
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...    4
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...    3
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...    4

                                                                                 \
Year                                                                       2018
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...    4
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...    2
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...    3
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...    3
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...    1
...                                                                         ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...    3
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...    2
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...    4
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...    3
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...    4

                                                                                 \
Year                                                                       2019
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...    4
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...    2
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...    3
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...    3
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...    1
...                                                                         ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...    3
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...    2
YEMEN               YEM  MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...    4
ZAMBIA              ZMB  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...    3
ZIMBABWE            ZWE  POLYGON ((32.48888 -21.34445, 32.46541 -21.325...    4

                                                                                 \
Year                                                                       2020
COUNTRY             iso3 geometry
AFGHANISTAN         AFG  POLYGON ((61.27656 35.60725, 61.29638 35.62853...    4
ALBANIA             ALB  POLYGON ((20.79192 40.43154, 20.78722 40.39472...    2
ALGERIA             DZA  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...    3
ANGOLA              AGO  MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...    3
ANTIGUA AND BARBUDA ATG  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...    1
...                                                                         ...
VENEZUELA           VEN  MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...    3
VIETNAM             VNM  MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...    2

In [111]:
theMapAndData_wideYears=theMapAndData.loc[:,colsForWide].set_index(IndexWide).unstack(level='Year').reset_index(drop=False)
theMapAndData_wideYears.columns

MultiIndex([(   'COUNTRY',   ''),
            (      'iso3',   ''),
            (  'geometry',   ''),
            ('Total_mnmx', 2013),
            ('Total_mnmx', 2014),
            ('Total_mnmx', 2015),
            ('Total_mnmx', 2016),
            ('Total_mnmx', 2017),
            ('Total_mnmx', 2018),
            ('Total_mnmx', 2019),
            ('Total_mnmx', 2020),
            ('Total_mnmx', 2021),
            ('Total_mnmx', 2022),
            ('Total_mnmx', 2023),
            ( 'Total_ei5', 2013),
            ( 'Total_ei5', 2014),
            ( 'Total_ei5', 2015),
            ( 'Total_ei5', 2016),
            ( 'Total_ei5', 2017),
            ( 'Total_ei5', 2018),
            ( 'Total_ei5', 2019),
            ( 'Total_ei5', 2020),
            ( 'Total_ei5', 2021),
            ( 'Total_ei5', 2022),
            ( 'Total_ei5', 2023)],
           names=[None, 'Year'])

In [112]:
theMapAndData_wideYears.columns=['_'.join((a[0],str(a[1]))) if a[1]!='' else a[0] for a in theMapAndData_wideYears.columns]
theMapAndData_wideYears

,COUNTRY,iso3,geometry,Total_mnmx_2013,Total_mnmx_2014,Total_mnmx_2015,Total_mnmx_2016,Total_mnmx_2017,Total_mnmx_2018,Total_mnmx_2019,...,Total_ei5_2014,Total_ei5_2015,Total_ei5_2016,Total_ei5_2017,Total_ei5_2018,Total_ei5_2019,Total_ei5_2020,Total_ei5_2021,Total_ei5_2022,Total_ei5_2023
0,AFGHANISTAN,AFG,"POLYGON ((61.27656 35.60725, 61.29638 35.62853...",9.249218,9.320594,9.318182,9.359244,9.306723,9.294034,9.120083,...,4,4,4,4,4,4,4,4,4,4
1,ALBANIA,ALB,"POLYGON ((20.79192 40.43154, 20.78722 40.39472...",4.921794,4.766454,4.566116,4.453782,4.390756,4.416653,4.347826,...,2,2,2,2,2,2,2,2,2,2
2,ALGERIA,DZA,"POLYGON ((-5.15213 30.18047, -5.13917 30.19236...",6.329510,6.380042,6.394628,6.250000,6.102941,6.062559,6.055901,...,3,3,3,3,3,3,3,3,2,2
3,ANGOLA,AGO,"MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...",7.205422,7.292994,7.252066,7.531513,7.605042,7.493581,7.339545,...,3,3,3,3,3,3,3,3,3,3
4,ANTIGUA AND BARBUDA,ATG,"MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...",4.171011,4.278132,4.142562,3.928571,3.792017,3.948394,3.881988,...,2,2,1,1,1,1,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,VENEZUELA,VEN,"MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...",5.974974,6.157113,6.301653,6.596639,6.743697,7.154735,7.494824,...,3,3,3,3,3,3,3,3,3,3
164,VIETNAM,VNM,"MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...",5.745568,5.732484,5.650826,5.451681,5.409664,5.288177,5.093168,...,2,2,2,2,2,2,2,2,2,2
165,YEMEN,YEM,"MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...",9.280501,9.203822,9.349174,9.737395,9.705882,9.928129,10.000000,...,4,4,4,4,4,4,4,4,4,4
166,ZAMBIA,ZMB,"POLYGON ((30.21302 -14.98172, 30.21917 -15.096...",7.153285,7.165605,6.962810,7.090336,7.258403,7.261326,7.122153,...,3,3,3,3,3,3,3,3,3,3
167,ZIMBABWE,ZWE,"POLYGON ((32.48888 -21.34445, 32.46541 -21.325...",9.092805,8.927813,8.502066,8.581933,8.707983,8.840578,8.550725,...,4,4,4,4,4,4,4,4,4,4

In [113]:
theMapAndData_wideYears.columns[theMapAndData_wideYears.columns.str.startswith('Total_m')]

Index(['Total_mnmx_2013', 'Total_mnmx_2014', 'Total_mnmx_2015',
       'Total_mnmx_2016', 'Total_mnmx_2017', 'Total_mnmx_2018',
       'Total_mnmx_2019', 'Total_mnmx_2020', 'Total_mnmx_2021',
       'Total_mnmx_2022', 'Total_mnmx_2023'],
      dtype='object')

In [114]:
mnmxCols=theMapAndData_wideYears.columns[theMapAndData_wideYears.columns.str.startswith('Total_m')]

theMapAndData_wideYears['deteriorating_along10']=theMapAndData_wideYears.loc[:,mnmxCols].apply(lambda row: row.is_monotonic_increasing, axis=1)
theMapAndData_wideYears['improving_along10']=theMapAndData_wideYears.loc[:,mnmxCols].apply(lambda row: row.is_monotonic_decreasing, axis=1)
theMapAndData_wideYears['equal_along10']=theMapAndData_wideYears.loc[:,mnmxCols].apply(lambda row: row.std()==0, axis=1)

In [115]:
theMapAndData_wideYears[theMapAndData_wideYears.deteriorating_along10]

,COUNTRY,iso3,geometry,Total_mnmx_2013,Total_mnmx_2014,Total_mnmx_2015,Total_mnmx_2016,Total_mnmx_2017,Total_mnmx_2018,Total_mnmx_2019,...,Total_ei5_2017,Total_ei5_2018,Total_ei5_2019,Total_ei5_2020,Total_ei5_2021,Total_ei5_2022,Total_ei5_2023,deteriorating_along10,improving_along10,equal_along10
52,FINLAND,FIN,"MULTIPOLYGON (((29.99671 63.74802, 29.99895 63...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,True,False,False

In [116]:
theMapAndData_wideYears[theMapAndData_wideYears.improving_along10]

,COUNTRY,iso3,geometry,Total_mnmx_2013,Total_mnmx_2014,Total_mnmx_2015,Total_mnmx_2016,Total_mnmx_2017,Total_mnmx_2018,Total_mnmx_2019,...,Total_ei5_2017,Total_ei5_2018,Total_ei5_2019,Total_ei5_2020,Total_ei5_2021,Total_ei5_2022,Total_ei5_2023,deteriorating_along10,improving_along10,equal_along10
18,BHUTAN,BTN,"POLYGON ((92.08151 26.86905, 92.06443 26.85972...",6.652763,6.602972,6.301653,6.176471,6.018908,5.904205,5.703934,...,3,2,2,2,2,2,2,False,True,False
162,UZBEKISTAN,UZB,"POLYGON ((68.64267 39.85824, 68.63721 39.83943...",7.184567,7.176221,6.983471,6.796218,6.596639,6.409954,6.086957,...,3,3,3,2,2,2,2,False,True,False
164,VIETNAM,VNM,"MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...",5.745568,5.732484,5.650826,5.451681,5.409664,5.288177,5.093168,...,2,2,2,2,2,2,2,False,True,False

In [117]:
theMapAndData_wideYears[theMapAndData_wideYears.equal_along10]

Empty DataFrame
Columns: [COUNTRY, iso3, geometry, Total_mnmx_2013, Total_mnmx_2014, Total_mnmx_2015, Total_mnmx_2016, Total_mnmx_2017, Total_mnmx_2018, Total_mnmx_2019, Total_mnmx_2020, Total_mnmx_2021, Total_mnmx_2022, Total_mnmx_2023, Total_ei5_2013, Total_ei5_2014, Total_ei5_2015, Total_ei5_2016, Total_ei5_2017, Total_ei5_2018, Total_ei5_2019, Total_ei5_2020, Total_ei5_2021, Total_ei5_2022, Total_ei5_2023, deteriorating_along10, improving_along10, equal_along10]
Index: []

[0 rows x 28 columns]

In [118]:
theMapAndData_wideYears.columns

Index(['COUNTRY', 'iso3', 'geometry', 'Total_mnmx_2013', 'Total_mnmx_2014',
       'Total_mnmx_2015', 'Total_mnmx_2016', 'Total_mnmx_2017',
       'Total_mnmx_2018', 'Total_mnmx_2019', 'Total_mnmx_2020',
       'Total_mnmx_2021', 'Total_mnmx_2022', 'Total_mnmx_2023',
       'Total_ei5_2013', 'Total_ei5_2014', 'Total_ei5_2015', 'Total_ei5_2016',
       'Total_ei5_2017', 'Total_ei5_2018', 'Total_ei5_2019', 'Total_ei5_2020',
       'Total_ei5_2021', 'Total_ei5_2022', 'Total_ei5_2023',
       'deteriorating_along10', 'improving_along10', 'equal_along10'],
      dtype='object')

In [119]:
theMapAndData_wideYears['better_after10']=theMapAndData_wideYears.Total_ei5_2013>theMapAndData_wideYears.Total_ei5_2023
theMapAndData_wideYears['worse_after10']=theMapAndData_wideYears.Total_ei5_2013<theMapAndData_wideYears.Total_ei5_2023
theMapAndData_wideYears['same_after10']=theMapAndData_wideYears.Total_ei5_2013==theMapAndData_wideYears.Total_ei5_2023

In [120]:
SubCols=theMapAndData_wideYears.columns[:2].to_list() + theMapAndData_wideYears.columns[-6::].to_list()
theMapAndData_wideYears.loc[:,SubCols]

,COUNTRY,iso3,deteriorating_along10,improving_along10,equal_along10,better_after10,worse_after10,same_after10
0,AFGHANISTAN,AFG,False,False,False,False,False,True
1,ALBANIA,ALB,False,False,False,False,False,True
2,ALGERIA,DZA,False,False,False,True,False,False
3,ANGOLA,AGO,False,False,False,False,False,True
4,ANTIGUA AND BARBUDA,ATG,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...
163,VENEZUELA,VEN,False,False,False,False,True,False
164,VIETNAM,VNM,False,True,False,False,False,True
165,YEMEN,YEM,False,False,False,False,False,True
166,ZAMBIA,ZMB,False,False,False,False,False,True
167,ZIMBABWE,ZWE,False,False,False,False,False,True

In [121]:
theMapAndData_wideYears['along10']=theMapAndData_wideYears.loc[:,['deteriorating_along10','improving_along10','equal_along10']].idxmax(axis=1)
theMapAndData_wideYears['after10']=theMapAndData_wideYears.loc[:,['better_after10', 'worse_after10','same_after10']].idxmax(axis=1)

In [122]:
theMapAndData_wideYears

,COUNTRY,iso3,geometry,Total_mnmx_2013,Total_mnmx_2014,Total_mnmx_2015,Total_mnmx_2016,Total_mnmx_2017,Total_mnmx_2018,Total_mnmx_2019,...,Total_ei5_2022,Total_ei5_2023,deteriorating_along10,improving_along10,equal_along10,better_after10,worse_after10,same_after10,along10,after10
0,AFGHANISTAN,AFG,"POLYGON ((61.27656 35.60725, 61.29638 35.62853...",9.249218,9.320594,9.318182,9.359244,9.306723,9.294034,9.120083,...,4,4,False,False,False,False,False,True,deteriorating_along10,same_after10
1,ALBANIA,ALB,"POLYGON ((20.79192 40.43154, 20.78722 40.39472...",4.921794,4.766454,4.566116,4.453782,4.390756,4.416653,4.347826,...,2,2,False,False,False,False,False,True,deteriorating_along10,same_after10
2,ALGERIA,DZA,"POLYGON ((-5.15213 30.18047, -5.13917 30.19236...",6.329510,6.380042,6.394628,6.250000,6.102941,6.062559,6.055901,...,2,2,False,False,False,True,False,False,deteriorating_along10,better_after10
3,ANGOLA,AGO,"MULTIPOLYGON (((13.09139 -4.63306, 13.09264 -4...",7.205422,7.292994,7.252066,7.531513,7.605042,7.493581,7.339545,...,3,3,False,False,False,False,False,True,deteriorating_along10,same_after10
4,ANTIGUA AND BARBUDA,ATG,"MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...",4.171011,4.278132,4.142562,3.928571,3.792017,3.948394,3.881988,...,2,2,False,False,False,False,False,True,deteriorating_along10,same_after10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,VENEZUELA,VEN,"MULTIPOLYGON (((-60.25755 7.92157, -60.31973 7...",5.974974,6.157113,6.301653,6.596639,6.743697,7.154735,7.494824,...,3,3,False,False,False,False,True,False,deteriorating_along10,worse_after10
164,VIETNAM,VNM,"MULTIPOLYGON (((106.45821 11.66586, 106.44830 ...",5.745568,5.732484,5.650826,5.451681,5.409664,5.288177,5.093168,...,2,2,False,True,False,False,False,True,improving_along10,same_after10
165,YEMEN,YEM,"MULTIPOLYGON (((48.68639 14.03750, 48.61000 14...",9.280501,9.203822,9.349174,9.737395,9.705882,9.928129,10.000000,...,4,4,False,False,False,False,False,True,deteriorating_along10,same_after10
166,ZAMBIA,ZMB,"POLYGON ((30.21302 -14.98172, 30.21917 -15.096...",7.153285,7.165605,6.962810,7.090336,7.258403,7.261326,7.122153,...,3,3,False,False,False,False,False,True,deteriorating_along10,same_after10
167,ZIMBABWE,ZWE,"POLYGON ((32.48888 -21.34445, 32.46541 -21.325...",9.092805,8.927813,8.502066,8.581933,8.707983,8.840578,8.550725,...,4,4,False,False,False,False,False,True,deteriorating_along10,same_after10

In [123]:
theMapAndData_wideYears.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   COUNTRY                168 non-null    object
 1   iso3                   168 non-null    object
 2   geometry               168 non-null    geometry
 3   Total_mnmx_2013        168 non-null    float64
 4   Total_mnmx_2014        168 non-null    float64
 5   Total_mnmx_2015        168 non-null    float64
 6   Total_mnmx_2016        168 non-null    float64
 7   Total_mnmx_2017        168 non-null    float64
 8   Total_mnmx_2018        168 non-null    float64
 9   Total_mnmx_2019        168 non-null    float64
 10  Total_mnmx_2020        168 non-null    float64
 11  Total_mnmx_2021        168 non-null    float64
 12  Total_mnmx_2022        168 non-null    float64
 13  Total_mnmx_2023        168 non-null    float64
 14  Total_ei5_2013         168 non-null    int64
 15  Total_ei5_2014         168 non-null    int64
 16  Total_ei5_2015         168 non-null    int64
 17  Total_ei5_2016         168 non-null    int64
 18  Total_ei5_2017         168 non-null    int64
 19  Total_ei5_2018         168 non-null    int64
 20  Total_ei5_2019         168 non-null    int64
 21  Total_ei5_2020         168 non-null    int64
 22  Total_ei5_2021         168 non-null    int64
 23  Total_ei5_2022         168 non-null    int64
 24  Total_ei5_2023         168 non-null    int64
 25  deteriorating_along10  168 non-null    bool
 26  improving_along10      168 non-null    bool
 27  equal_along10          168 non-null    bool
 28  better_after10         168 non-null    bool
 29  worse_after10          168 non-null    bool
 30  same_after10           168 non-null    bool
 31  along10                168 non-null    object
 32  after10                168 non-null    object
dtypes: bool(6), float64(11), geometry(1), int64(11), object(4)
memory usage: 36.6+ KB

In [124]:
theMapAndData_wideYears=gpd.GeoDataFrame(theMapAndData_wideYears, geometry=theMapAndData_wideYears.geometry, crs="EPSG:4326")
theMapAndData_wideYears.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   COUNTRY                168 non-null    object
 1   iso3                   168 non-null    object
 2   geometry               168 non-null    geometry
 3   Total_mnmx_2013        168 non-null    float64
 4   Total_mnmx_2014        168 non-null    float64
 5   Total_mnmx_2015        168 non-null    float64
 6   Total_mnmx_2016        168 non-null    float64
 7   Total_mnmx_2017        168 non-null    float64
 8   Total_mnmx_2018        168 non-null    float64
 9   Total_mnmx_2019        168 non-null    float64
 10  Total_mnmx_2020        168 non-null    float64
 11  Total_mnmx_2021        168 non-null    float64
 12  Total_mnmx_2022        168 non-null    float64
 13  Total_mnmx_2023        168 non-null    float64
 14  Total_ei5_2013         168 non-null    int64
 15  Total_ei5_2014         168 non-null    int64
 16  Total_ei5_2015         168 non-null    int64
 17  Total_ei5_2016         168 non-null    int64
 18  Total_ei5_2017         168 non-null    int64
 19  Total_ei5_2018         168 non-null    int64
 20  Total_ei5_2019         168 non-null    int64
 21  Total_ei5_2020         168 non-null    int64
 22  Total_ei5_2021         168 non-null    int64
 23  Total_ei5_2022         168 non-null    int64
 24  Total_ei5_2023         168 non-null    int64
 25  deteriorating_along10  168 non-null    bool
 26  improving_along10      168 non-null    bool
 27  equal_along10          168 non-null    bool
 28  better_after10         168 non-null    bool
 29  worse_after10          168 non-null    bool
 30  same_after10           168 non-null    bool
 31  along10                168 non-null    object
 32  after10                168 non-null    object
dtypes: bool(6), float64(11), geometry(1), int64(11), object(4)
memory usage: 36.6+ KB

In [127]:
import os

theMapAndData_wideYears.to_file(os.path.join("maps","theMapAndData.gpkg"),layer='fragilityAfter', driver="GPKG")